html,body
{
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background: url("../images/html-bg.png");
}

#block-headerarea {
    height: 100vh;
    width: 100vw; 
    overflow: hidden;

}
.path-frontpage 
.not-content-layout {
    text-align: center;
    max-width: none;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
}

.not-content-layout {
    /* padding-left: 85px;  */
    margin-top: 85px; 
}

.views-col {
    /* width: 22% !important; 
    text-align: left;
    margin: 4rem;  */
}

.views-view-grid {
    
    display: inline-block; 
    margin-bottom: 18px;
}

#block-star-breadcrumbs {
    z-index: 100;
}

.item-content p {
    color: white; 
    
    text-align: center;
}

.status-and-trends-title{
    font-size: 4vw; 
    line-height: 100%; 
} 

.status-and-trends-sub {
    font-size: 2vw;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* .front-page-grid div:first-child {
    max-width: 480px;
} */

.front-page-grid div:not(:first-child) {
    text-align: left; 
    font-family: "century gothic";
    font-size: 0.8vw;
    width: 100%; 

}

.front-page-grid {
    max-width: 480px;
    /* width: 17vw !important; 
    height: 25vw;  */
    margin: 0 3vw; 
    display: inline-block;
}

.restoration-stories-class img {
    width: 100%; 
    height: auto;
}


@media screen and (max-width: 1883px){
    .front-page-grid {
        margin: 0 2vw; 
    }

    .front-page-grid div:not(:first-child) {
        text-align: left; 
        font-family: "century gothic";
        font-size: 1.4rem; 
        width: 100%; 
    
    }
}

@media screen and (max-width: 1756px) {
    .front-page-grid {
        margin: 0 1vw; 
        max-width: 30%; 
    }


}

.view-spotlights {
    font-size: 1.2vw !important;
    background: #FFBD33;
    padding: 1rem !important ;
    border-style: solid;
    border-color: #cc194c;;
    opacity: 1 !important;
}

.text-descr-spotlight {
    font-size: 1.6rem;
    font-family: century gothic;
    margin-top: 30px;
}

.view-spotlights:hover {
    text-decoration: none; 
    
}

.content {
    margin-left: 85px; 
}

.not-a-region .content {
    margin-left: 85px; 
}

#block-iframecontainer div.content {
    margin-left: 70px;
}

.block-block-contentecda473e-a805-4770-b088-e9a8700e7ed0 .content,
.block-views-blockpublic-maps-block-1
.content {
    margin-left: 0px; 
}

.scroll-down-span {
    position: absolute;
    /* bottom: 165vh; */
    /* left: 6vw; */
    left: 101px;
    bottom: -52px;
    font-family: century gothic;
    color: #fff;
    font-size: 1.1vw;
    display: block;

}

.scroll-down img {
    width: 3.7vw;
    height: 6vh;
    position: absolute;
    display: block;
    left: 96px;
    /* left: .5vw; */
    /* bottom: 219vh; */
    bottom: -114px;
}

.scroll-down {
    position: absolute;
    left: 41%;
    bottom: 76%;
    cursor: pointer;
}

.views-field-field-url .field-content a {
    color: #cc194c;
}

.iframe-container {
    height: 100vh; 
    width: 100vw; 
}

#block-star-content {
    margin-left: 30px; 
}

.js-form-item legend {
    border-bottom: 0px; 
}

#query-form .title .fieldset-wrapper h1, 
#adult-passage-form .title .fieldset-wrapper h1, 
#block-star-content .layout h1
{
    text-align: center;
    font-family: "Arial"; 
    font-size: 48px !important; 
    color: gray; 
}

#views-exposed-form-public-maps-block-1 .js-form-type-select, .js-form-type-textfield {
    float: left; 
}

.block-views-blockpublic-maps-block-1 table,
.public-reports
 {
    width: 97%; 
}

.views-element-container .content, 
.block-type-basic .content, 
#views-exposed-form-public-reports-block-2 div:first-child
{
    margin-left: 0px; 
}

#block-restorationactionfront {
    margin-left: 85px; 
}

.public-reports table {
    clear: both; 
}

.js-form-item-field-project-value {
    clear: left; 
    margin-left: 0px !important; 
}



@media (max-aspect-ratio: 4/3) {
    .scroll-down img {
        width: 4.7vw;
        height: 5vh;
        position: relative;
        left: -1.5vw;
    }

    .scroll-down-span {
        font-size: 1.7vw;
    }

    .scroll-down {
        left: 39%;
    }

    .views-exposed-form > div {
        margin-left: 2vw; 
    }
}

 .form-item, .form-submit {
    margin: 1em 0; 
}

.views-exposed-form > div {
    margin-right: 20px; 
    float: left; 
    margin-left: 3vw; 
    margin-bottom: 20px;
} 

.form-select {
    height: 26px; 
}

.views-element-container > div > header {
    font-family: "Arial"; 
    text-align: center; 
    font-size: 48px; 
    color: gray; 
}


.reports-header {
    font-family: "Arial";
    text-align: center;
    font-size: 48px;
    color: #808080;
}

.user-login-form div {
    float: none;
}

/** 
*  Table CSS 
*/ 

thead th {
    background: #555;
    border: solid #bfbfba;
    border-width: 1px 0;
    color: #fff;
    text-transform: uppercase;
}

tr .views-field {
    text-align: left !important; 
    padding: 10px 12px !important; 
}

table td {
    vertical-align: top; 
}

table#results-db, 
table#results-db-details {
    overflow-x: auto;
    font-size: .9rem; 
}

#table-wrapper {
    max-width: none !important; 
    overflow-x: auto; 
}


.copyright li {
    margin: 10px 0;
    line-height: 100%;
    list-style: none; 
}

.copyright li:first-child {
    float: left; 
    margin-left: 10px; 
}

.copyright li:nth-child(2) {
    float: right; 
}

.copyright > .container {
    margin-right: 0px; 
    margin-left: 0px; 
    width: 100%;
}

.copyright {
   
    padding: 2rem; 
}

.contact-message-form div {
    float: none; 
}

.contact-message-form label {
    display: block; 
}

.js-form-item-field-request-access--88 input,
.js-form-item-field-request-access--88 label,
.js-form-item-field-request-access--89 input,
.js-form-item-field-request-access--89 label,
.js-form-item-field-request-access--90 input,
.js-form-item-field-request-access--90 label,
.js-form-item-field-request-access--91 input,
.js-form-item-field-request-access--91 label,
.js-form-item-field-request-access--92 input,
.js-form-item-field-request-access--92 label,
.js-form-item-field-request-access--93 input, 
.js-form-item-field-request-access--93 label {
    display: inline-block; 
}

#edit-field-request-access-wrapper {
    position: absolute;
    bottom: 43%; 
    /* left: 33%;  */
    margin-left: 502px; 
}




