
.header {
  background: #707070;
  padding: 9px;
  color: white;
}

.header-1 {
	background: #b7b7b7;
	padding: 9px;
	color: white;
}


.log-table {
	max-width: 1000px !important;
	min-width: 1144px !important; 
	margin: 30px !important;
	overflow-x: scroll;
} 

.default-selects > div > div {
	float: left; 
	margin: 14px !important;
}

.ajax-progress-throbber {
  display: none;
}

.btn-margin-wrapper {
	margin: 14px 0px 14px 0px;
}

#qa-demo-from, 
#qa-demo-to {
	width: 100px;
}

.ui-datepicker-trigger {
	position: relative; 
	bottom: 8px;
	left: 3px;
}

h1.header {
	margin-top: 20px !important; 
}



table.dataTable {
	margin: 0px auto 0px 0px !important;
}

.h2-header-wrapper {
	border-style: solid;
	border-width: 4px;
	border-color: #b7b7b7; 
	margin-bottom: 12px; 
	margin-left: 12px; 
	padding: 2px;
}

/* table.dataTable th {
	width: 16px;
    border-color: white;
    border-style: solid;
	border-width: 2px;
	border-bottom: none !important; 
} */

td {
	text-align: center !important;
}



h2 {
	margin-bottom: 4px !important; 
}

#table-location {
	font-family: "Century Gothic";
}




.btn-margin-wrapper {
	margin: 14px 0px 14px 0px;
}



.table-wrapper-scroll {
	overflow-x: scroll;
	width: 107%;
}

.brown {
	background: #c88a65;
}

.dataTable > thead > tr > th {
	font-family: 'Century Gothic';
	font-size: 12px; 
	font-weight: normal; 
}





