
{% for item in items %}    
        <a class="button" href={{ item.content['#url']|render }}>   
            <span class="text">{{ item.content['#title'] }}</span>
        </a>
    
        
          
    
{% endfor %}